alabaster==0.7.16
altair==5.4.1
anyio==4.6.0
appdirs==1.4.4
arrow==1.3.0
attrs==24.2.0
babel==2.16.0
bcbio-gff==0.7.1
beautifulsoup4==4.10.0
beniget==0.4.1
bgzip==0.4.0
bibtexparser==1.4.2
biopython==1.83
blinker==1.4
Brotli==1.0.9
bz2file==0.98
cachetools==5.5.0
certifi==2024.8.30
chardet==4.0.0
charset-normalizer==3.4.0
click==8.0.3
colorama==0.4.4
coloredlogs==7.3
colormath==3.0.0
command-not-found==0.3
commonmark==0.9.1
cryptography==3.4.8
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
Deprecated==1.2.14
distro==1.7.0
distro-info==1.1+ubuntu0.2
docutils==0.21.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
fake-useragent==1.5.1
fonttools==4.29.1
free-proxy==1.1.2
fs==2.4.12
future==0.18.2
gast==0.5.2
gitdb==4.0.11
GitPython==3.1.43
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httplib2==0.20.2
httpx==0.27.2
humanfriendly==10.0
idna==3.3
imageio==2.34.2
imagesize==1.4.1
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.0.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.5.0
khmer==2.1.1
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy_loader==0.4
lxml==4.8.0
lz4==3.1.3+dfsg
lzstring==1.0.4
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
more-itertools==8.10.0
mpmath==0.0.0
multiqc==1.12
narwhals==1.14.0
netifaces==0.11.0
networkx==3.3
numpy==1.24.3
oauthlib==3.2.0
olefile==0.46
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==21.3
pandas==2.2.1
parallel-fastq-dump==0.6.5
pillow==10.4.0
plotly==5.24.1
ply==3.11
pokrok==0.2.0
primer3-py==2.0.3
protobuf==5.28.3
pyarrow==18.0.0
pydeck==0.9.1
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
PyMuPDF==1.24.13
pyparsing==2.4.7
PyPDF2==3.0.1
PySocks==1.7.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.8.2
python-dotenv==1.0.1
pythran==0.10.0
pytz==2022.1
PyYAML==5.4.1
referencing==0.35.1
requests==2.32.3
rich==11.2.0
rpds-py==0.21.0
scholarly==1.7.11
scikit-image==0.24.0
scipy==1.14.0
screed==1.1.3
SecretStorage==3.3.1
selenium==4.25.0
simplejson==3.17.6
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spectra==0.0.11
Sphinx==7.3.7
sphinx-rtd-theme==3.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
srastream==0.1.3
streamlit==1.40.1
sympy==1.9
systemd-python==234
tenacity==9.0.0
tifffile==2024.7.2
toml==0.10.2
tomli==2.0.2
tornado==6.4.1
tqdm==4.66.2
trio==0.26.2
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
urllib3==1.26.5
wadllib==1.3.6
watchdog==6.0.0
webencodings==0.5.1
websocket-client==1.8.0
wrapt==1.16.0
wsproto==1.2.0
xphyle==4.4.4
zipp==1.0.0
